*:not(p) {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Inconsolata", monospace;
    font-style: regular;
    src: local(""), url("https://github.com/solar-parker/onlinestudio/blob/main/Fonts/Inconsolata-Regular.ttf");
}

body {
    font-family: "Inconsolata", monospace;
    font-weight: 300;

    width: 100vw;
    background-color: #827874;
    width: calc(100vw - 20%);
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 40px;
    margin-bottom: 40px;
    overflow-x: hidden;
}

p {
    color: #e7c8c8;
    font-weight: 300;
    line-height: 1.75em;
}

p.intro {
    font-size: 16pt;
    font-weight: 300;
    color: #bababa;
}

a {
    color: #c6def6;
    text-decoration: none;
    font-weight: 300;
}

a.info-link {
    color: #000000;
    /*     color: #bababa; */
}

a.spiral-link {
    text-decoration: underline;
    /* color: #5d9ed4; */
    color: #ffffff;
}

a.spiral-link:hover {
    background-color: transparent;
}

a.info-link:hover {
    background-color: transparent;
    text-decoration: underline;
    text-decoration-color: #eb540c;
    text-decoration-thickness: 2px;
}

h1 {
    font-size: 12pt;
    color: #bcbaf4;
    margin: 0;
}

ul {
    list-style: none;
    letter-spacing: 3pt;
    line-height: 1.75em;
    padding: 0;
    display: inline-block;
}

li {
    list-style: none;
    /* color: #47525f; */
    /* color: #c3d1e0; */
    color: #bababa;
    font-size: 12pt;
    line-height: 1.25em;
    margin-bottom: 12pt;
}

/* .post-title {
    font-size: 16px;
    font-weight: 500;
} */

/* .body-container {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
} */

.body-container > *:first-of-type {
    /* offsets the amount of top margin
  on the first child of .body-container
  lost by making .home-link `position:
  fixed`*/
    /* margin-top: 56px; */
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*     margin-top: 30px; */
    /*     margin-bottom: 30px; */
    max-width: 100%;
    max-height: 800px;
}

a.wallpaper-link {
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 50px;

    width: 800px;
    max-width: 100%;
}

img.wallpaper {
    width: 800px;
    max-width: 100%;
    /* max-height: 800px; */

    display: block;
    margin-left: 0;
    margin-right: 0;
}

@media screen and (max-width: 768px) {
    img.wallpaper {
        display: block;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    img.wallpaper {
        /*             max-width: 90vw; */
        /*             margin-bottom: 0px; */
    }
}

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    margin-top: 30px;
}

.artwork {
    margin-bottom: 30px;
}

div.year-container {
    width: 100%;
    margin-bottom: 30px;
}

/* div.year {
    width: 10%;
    display: inline-block;
    vertical-align: top;
} */

div.year-contents {
    width: 100%;
    display: inline-block;
}

div.home-link {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #bec046;
    z-index: 2;
    /*     border-style: outset;
    border-color: #c7f3ce; */
}

div.home-link:hover {
    background-color: #61915d;
    border-color: #2f6638;
}

a.index-link {
    color: #000;
    padding: 5px;
    line-height: 2rem;
}

a.button-link {
    padding: 5px;
    background-color: cornflowerblue;
    /*     background-color: #b154c2; */
    display: inline-block;
    margin-bottom: 10px;
}

a.button-link:hover {
    background-color: #353660;
    text-decoration: none;
}

.rotate {
    animation: rotation 8s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

/* Floating image code */

.post-title {
    /*     max-width: 600px; */
    margin: 3px;
    /*     position: relative; */
    display: inline-block;
    font-size: 16px;

    padding: 5px;
    background-color: #8091af;
    display: inline-block;
    margin-bottom: 10px;
}

.post-title:hover {
    background-color: #766262 !important;
}

.ne {
    /* ↗ arrow */
}

.fi-container {
    /*     z-index: 3; */
    z-index: -1;
    width: 300px;
    position: absolute;
    right: 0;
    visibility: hidden;
}

.floating-image,
.floating-image-borderless,
.no-image {
    /*     margin-left: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -125px;
    height: 250px;
    position: absolute; */

    /*     margin-left: -70px;
    justify-content: center;
    flex-direction: column;
    margin-top: -100px;
    height: 250px;
    position: absolute; */

    bottom: 50px;
    right: 50px;
    justify-content: center;
    flex-direction: column;
    /*     height: 250px; */
    position: fixed;
}

.floating-image img,
.floating-image-borderless img {
    max-width: 300px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.floating-image img {
    border: 2mm ridge rgba(195, 212, 84, 0.6);
}

h3 {
    font-size: 16px;
}

.indexlink {
    padding: 5px;
    /*     line-height: 2rem; */
}

@media screen and (max-width: 768px) {
    /* this fixes weird double click behaviour on ios safari */
    .floating-image,
    .floating-image-borderless,
    .fi-container {
        display: none;
        opacity: 0;
        pointer-events: none;
    }

    .post-link:hover .fi-container {
        visibility: hidden;
    }

    a.index-link {
        font-size: 24px;
    }

    video {
        max-width: 80vw;
    }

    /* 
  p, h1, ul, li, a, h3.post-link {
	  font-size: 18pt;
	  /* line-height: 2em;
  } */

    /* a {
	  font-size: 18pt;
  } */

    /* a.indexlink, a.index-link, a.home-link */
}

.post-link:hover .fi-container {
    visibility: visible;
}